<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<!-- SEO -->
<meta name="description" content="PupPal is the ultimate habit tracker app to help you build and maintain good habits. Track your progress, stay motivated, and achieve your goals.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://puppal.vip">
<meta property="og:title" content="PupPal">
<meta property="og:description" content="Track your consistency with awesome grid-based graphs.">
<meta property="og:image" content="https://www.puppal.vip/cover.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@puppal">
<meta name="twitter:creator" content="@PupPalApp">
<meta name="twitter:url" content="https://puppal.vip">
<meta name="twitter:title" content="PupPal">
<meta name="twitter:description" content="Track your consistency with awesome grid-based graphs.">
<meta name="twitter:image" content="https://www.puppal.vip/cover.png">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">

<!-- FontAwesome -->
<!-- Main CSS -->
<link href="{{ '/assets/main.css' | relative_url }}" rel="stylesheet" >

<link href="{{ '/assets/fontawesome.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/assets/brands.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/assets/solid.css' | relative_url }}" rel="stylesheet">

<link rel="stylesheet" href="{{ '/assets/five-habits-productivity-2025.BBN5zomm.css' | relative_url }}">

<!-- Scripts -->
<script type="module" src="{{ '/assets/page.CjTY0xMM.js' | relative_url }}"></script>
